"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[ui]
default-command = "log"
diff-formatter = ["difft", "--color=always", "$left", "$right"]
diff-editor = ":builtin"

[user]
name = "Romain Paquet"
email = "rpqt@rpqt.fr"

[aliases]
s = ["status", "--no-pager"]

[[--scope]]
--when.repositories = ["~/agh"]
[--scope.user]
email = "romain@student.agh.edu.pl"

[[--scope]]
--when.repositories = ["~/imag"]
[--scope.user]
email = "romain.paquet@grenoble-inp.org"
