"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[ui]
default-command = "log"
diff-formatter = ["difft", "--color=always", "$left", "$right"]

[user]
name = "Romain Paquet"
email = "rpqt@rpqt.fr"

[aliases]
s = ["status", "--no-pager"]
