layout {
    background-color "transparent"

    focus-ring {
        active-color   "#5c5891"
        inactive-color "#787680"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#5c5891"
        inactive-color "#787680"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#5c5891"
        inactive-color "#787680"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#5c589180"
    }
}

recent-windows {
    highlight {
        active-color   "#444078"
        urgent-color   "#ba1a1a"
    }
}
